body {
font-family: Arial, sans-serif;
background: #0f172a;
color: #e5e7eb;
margin: 0;
}


header {
background: #020617;
padding: 1rem;
}


nav button {
margin-right: 0.5rem;
}


.page {
padding: 1.5rem;
}


.hidden {
display: none;
}


input {
display: block;
margin: 0.5rem 0;
padding: 0.5rem;
}


button {
padding: 0.5rem 1rem;
margin-top: 0.5rem;
}


.bypass {
background: red;
color: white;
}
